{
  "parser": "babel-eslint",
  "extends": ["prettier"],
  "plugins": ["prettier"],
  "env": {
    "browser": true,
    "amd": true,
    "node": true
  },
  "rules": {
    "prettier/prettier": ["error"]
  }
}
